
.container {
  margin-top: 0px;
  /* margin-left:30px; */
  padding-top:0.5vw;
 background-color: black;
 padding-bottom: 0%;
}
.body{
  background-color: black !important;
}
.event_heading{
  font-size: 2.5em;
  background-color: black;
  color: white;
  margin-top: -3.5rem;
  padding-top: 4rem;
  margin-left: 43vw;
  padding-bottom:10rem;
 
}

.navbar ul {
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-top: 0px;
}

/* .navbar IMAGE{

height:60px;
width: 50.3px;
margin-left: 30px;
} */
.img_flex{
  display: grid;
  grid-template-columns: repeat(auto-fit,44.32vw);
  grid-gap: 10vw;
  background-color: black; 
}

.event_images_one{
  text-align: right;
  border-width: 2em;
  border-color: gold;
  position: relative;
}
.event_images_one >img {
  border: 0.05rem solid;
  border-color:goldenrod;
  border-bottom-right-radius: 4.5rem;
  border-top-left-radius: 4.5rem;
  border-top-right-radius: 0.5em;
  border-color: gold;
  position: relative;
  height:350px;
}

  .event_images_two >img {
    border: 0.05em solid;
    border-bottom-right-radius: 4.5rem;
    border-top-left-radius:  4.5rem;
    border-top-right-radius: 0.5rem;
    border-color: gold;
    height:350px;
  }

.event_images_three{
  text-align: right;
}
.event_images_three >img {
  border: 0.05em solid;
  border-bottom-right-radius:  4.5rem;
  border-top-left-radius:  4.5rem;
  border-top-right-radius: 0.5rem;
  border-color: gold;
  height:350px;
}

.event_images_four{
  text-align: left;
}
.event_images_four >img {
  border: 0.05em solid;
  border-bottom-right-radius:  4.5rem;
  border-top-left-radius:  4.5rem;
  border-top-right-radius: 0.5rem;
  border-color: gold;
  height:350px;
}

.event_images_five{
  text-align: right;
}
.event_images_five >img {
  border:0.05em solid;
  border-bottom-right-radius:  4.5rem;
  border-top-left-radius:  4.5rem;
  border-top-right-radius: 0.5rem;
  border-color: gold;
  height:350px;
}

.event_images_six{
  text-align: left;
}
.event_images_six >img {
  border: 0.05em solid;
  border-bottom-right-radius: 4.5rem;
  border-top-left-radius:  4.5rem;
  border-top-right-radius: 0.5rem;
  border-color: gold;
  height:350px;
}
.event_names_one , .event_names_three, .event_names_five{
  border: 2px solid;
  text-align:left;
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  justify-items:center ;
  font-size:1.2rem;
  margin-left:24vw;
  border-bottom-right-radius: 50px;
  transform: translate(0,-105%);
  border-color: gold;
  height: 3.75rem;
  width:17.28rem;
  color: black;
  align-items: center;
  background-color: bisque;
}
.event_names_two , .event_names_four, .event_names_six{
  border: 2px solid;
  text-align:left;
  /* justify-items:center ; */
  padding-top: 0.8rem;
  padding-left: 0.5rem;
  font-size:20px;
  border-bottom-right-radius: 50px;
  transform: translate(0,-105%);
  border-color: gold;
  height: 3.75rem;
  width:17.28rem;
  color: black;
  background-color: bisque;
}

.event_description_one{
  background-color: bisque;
  display: none;
  height: 250px;
  bottom: 0;
  left: 0;
  right: 0;
  width:17.28rem;
  transform: 0.5s ease;
}
.event_part_one{
  position: relative;
  
  background-color: black;
}
 .event_part_one :hover +.event_description_one {
  display: block;
  color: black;
  transform: translate(120%,-122%); 
}

.navbar ul li{
  
  list-style-type: none;
  padding: 1rem;
  font-family: Raleway;
  color: white;
}


.nav_right{
  margin-left:40vh;
}
 .nav_right1{
  margin-left:0.5vh;
} 
.nav_right2{
  margin-left:0.5vh;
} 
.nav_right2{
  background-color: gold;
  /* margin-top: 9px; */
  /* padding-bottom: 4px; */
  justify-content:center;
  height:2em;
  border-width: 0.1rem;
  border-bottom-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  color: black;
  /* align-items: center; */
  text-align: center;
}
.footer_email{
  color: white;
  margin-left: 10rem;
  font-size: 1.5rem;
}
.main {
  min-height: 100vh;
  padding: 4rem 0;
  
}
.navbar li :hover {
  color: gold;
  font-size: 0.8em;
}
.middle {
  color: white;
  padding-left: 4.05em;
  font-size: larger;
}
.footer{
  background-color: black;
}
.footer_form{
  float: right;
  background-color: black;
}
.form_name, .form_email{
  margin-right: 10rem;
  margin-bottom: 2rem;
  width:23rem;
  height:4rem; 
  border: white solid 2px;
  border-radius: 4px;
  background-color: black;
}
.form_query{
  margin-right: 9rem;
  border-radius: 4px;
  height:4rem; 
  background-color: black;
  border: white solid 2px;
  width:5rem;
}
.form_contact{
  margin-right: 2rem;
  border-radius: 4px;
  height:4rem; 
  background-color: black;
  border: white solid 2px;
  width:16rem;
  margin-bottom: 2rem;
}

.form_message{
  margin-right: 2rem;
  border-radius: 4px;
  height:10rem; 
  background-color: black;
  border: white solid 2px;
  width:23rem;
  margin-bottom: 2rem;
}
.form_submit{
  height: 2rem;
  width:6rem;
  color: white;
  border: white solid 2px;
  background-color: black;
  border-radius:6px;
  margin-bottom: 2rem;
}
.footer_table{
  display:table;
  border-spacing: 5px;
}
@media (max-width:805px) {
.img_flex{
            grid-template-columns: 1fr;
  }
    
.event_images_one, .event_images_two, .event_images_three, .event_images_four, .event_images_five, .event_images_six{
      text-align: center;

    }
    .event_names_one, .event_names_two, .event_names_three, .event_names_four, .event_names_five, .event_names_six{
      /* text-align: center; */
      margin-left: 32.5vw;
    }   
}
@media (max-width:481px) {
  .img_flex{
    grid-template-columns: 1fr;
}

  .event_names_one, .event_names_two, .event_names_three, .event_names_four, .event_names_five, .event_names_six{
      /* text-align: center; */
      margin-left:32.5vw;
    }   
}